<section class="section">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title is-5">{{ pageTitle }}</h1>
                </div>
                <div class="level-item">
                    <div class="control">
                        <a class="tag is-link" (click)="onHelp('camera')">Help</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <button class="button is-small is-rounded is-light is-uppercase" (click)="onNew()">new camera</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <table class="table" *ngIf="cameras.length > 0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let camera of cameras">
                            <td>{{ camera.name }}</td>
                            <td>
                                <div class="buttons">
                                    <button type="button" class="button is-small is-rounded is-light is-uppercase" (click)="onEdit(camera.id)">edit</button>
                                    <button type="button" class="button is-small is-rounded is-light is-uppercase" (click)="onDelete(camera.id)">delete</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
