<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths">
                <h1 class="title is-5">New Camera</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <app-camera-form
                    (notifySubmit)="onSubmit($event)"
                    (notifyCancel)="onCancel()">
                </app-camera-form>
            </div>
        </div>
    </div>
</section>
