<section class="section" *ngIf="observatory.id >= 0">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths">
                <h1 class="title is-5">{{ pageTitle }}</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <label class="label">Name</label>
                <div id="name">{{ observatory.name }}</div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <label class="label">Bortle class</label>
                <div id="bortle-class">{{ observatory.bortleClass }}</div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <label class="label">Sky brightness <span class="is-size-7">(mag/arcsec<sup>2</sup>)</span></label>
                <div id="sky-brightness">{{ observatory.skyBrightness }}</div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <label class="label">Latitude</label>
                <app-latitude [decodedAngle]="latitude"></app-latitude>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <label class="label">Longitude</label>
                <app-longitude [decodedAngle]="longitude"></app-longitude>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <div class="has-text-danger">
                    Are you sure you want to delete this observatory?
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <div class="buttons">
                    <button id="submit" type="button" class="button is-rounded is-light is-danger" (click)="onSubmit()">Yes, delete it</button>
                    <button id="cancel" type="button" class="button is-rounded is-light" (click)="onCancel()">No, cancel</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div *ngIf="observatory.id < 0">
    <h1 class="title">{{ notFound }}</h1>
</div>
