<div class="columns">
    <div class="column">
        <label>Name</label>
        <input type="text" class="input is-small" [value]="name" (input)="onChangeName($event.target.value)" />
    </div>
</div>
<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
        <div class="columns">
            <div class="column">
                <label>Bortle&nbsp;class</label>
                <div class="level">
                    <div class="level-left">
                        <div class="left-item">
                            <div class="field has-addons">
                                <div class="control">
                                    <input type="text" class="input is-small" [value]="bortleClass" (input)="onChangeBortleClass($event.target.value)" />
                                </div>
                                <div class="control">
                                    <a class="tag is-link" (click)="onHelp('observatory-bortle-class')">Help</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <label>Sky&nbsp;brightness&nbsp;<span class="is-size-7">(mag/arcsec<sup>2</sup>)</span></label>
                <div class="level">
                    <div class="level-left">
                        <div class="left-item">
                            <div class="field has-addons">
                                <div class="control">
                                    <input type="text" class="input is-small" [value]="skyBrightness" (input)="onChangeSkyBrightness($event.target.value)" />
                                </div>
                                <div class="control">
                                    <a class="tag is-link" (click)="onHelp('observatory-sky-brightness')">Help</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="level is-mobile">
            <div class="level-left">
                <div class="level-item">
                    <button class="button is-small is-rounded is-light is-uppercase" (click)="onSave()">save all</button>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <button class="button is-small is-rounded is-light is-uppercase" (click)="onDelete()">delete observatory</button>
                </div>
            </div>
        </div>
    </div>
</div>
