<div class="columns">
    <div class="column">
        <label>Name</label>
        <input type="text" class="input is-small" [value]="name" (input)="onChangeName($event.target.value)" />
    </div>
</div>
<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
        <div class="columns">
            <div class="column">
                <label>Bortle&nbsp;class</label>
                <input type="text" class="input is-small" [value]="bortleClass" (input)="onChangeBortleClass($event.target.value)" />
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <label>Sky&nbsp;brightness&nbsp;<span class="is-size-7">(mag/arcsec<sup>2</sup>)</span></label>
                <input type="text" class="input is-small" [value]="skyBrightness" (input)="onChangeSkyBrightness($event.target.value)" />
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <button class="button is-small is-danger is-capitalized" (click)="onDeleteButtonClick()">delete observatory</button>
    </div>
</div>
