<section class="section" *ngIf="camera.id >= 0">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths">
                <h1 class="title is-5">{{ pageTitle }}</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <label class="label">Name</label>
                <div id="name">{{ camera.name }}</div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <label class="label">Pixel size <span class="is-size-7">(um)</span></label>
                <div id="pixel-size">{{ camera.pixelSize }}</div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <label class="label">Read noise <span class="is-size-7">(e-)</span></label>
                <div id="read-noise">{{ camera.readNoise }}</div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <label class="label">Dark current <span class="is-size-7">(e-/s)</span></label>
                <div id="dark-current">{{ camera.darkCurrent }}</div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <label class="label">Quantum efficiency <span class="is-size-7">(%)</span></label>
                <div id="quantum-efficiency">{{ camera.quantumEfficiency }}</div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <div class="has-text-danger">
                    Are you sure you want to delete this camera?
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <div class="buttons">
                    <button id="submit" type="button" class="button is-rounded is-light is-danger" (click)="onSubmit()">Yes, delete it</button>
                    <button id="cancel" type="button" class="button is-rounded is-light" (click)="onCancel()">No, cancel</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div *ngIf="camera.id < 0">
    <h1 class="title">{{ cameraNotFound }}</h1>
</div>
