<article class="message is-danger" *ngIf="!localStorageOK">
    <div class="message-body">
        LOCAL STORAGE required. Your browser is blocking the application from storing
        data used to describe your telescope, camera, observatory, and targets. It can
        not proceed without the necessary permissions. All browsers have a page for
        adjusting permissions. Some call it <i>Options</i>, others call it <i>Settings</i>.
        Look for something like <i>Privacy & Security</i>. You may discover that your browser
        has cookies turned off. In that case turn it on. Or some browsers allow you to block
        storage for most but not all websites. In that case add this website's URL to that
        <i>whitelist</i>. Once complete try refreshing this page to test.
    </div>
</article>
<article class="message is-success" *ngIf="localStorageOK">
    <div class="message-body">
        Congratulations! LOCAL STORAGE is operational. You may now proceed to use the
        application by clicking on any of the navigation menu links above.
    </div>
</article>
