<div class="columns">
    <div class="column">
        <label>Name</label>
        <input type="text" class="input is-small" [value]="name" (input)="onChangeName($event.target.value)" />
    </div>
</div>
<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
        <div class="columns">
            <div class="column">
                <label>Pixel&nbsp;size&nbsp;<span class="is-size-7">(um)</span></label>
                <div class="level">
                    <div class="level-left">
                        <div class="left-item">
                            <div class="field has-addons">
                                <div class="control">
                                    <input type="text" class="input is-small" [value]="pixelSize" (input)="onChangePixelSize($event.target.value)" />
                                </div>
                                <div class="control">
                                    <a class="tag is-link" [routerLink]="['/help', 'camera-pixel-size']">Help</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <label>Read&nbsp;noise&nbsp;<span class="is-size-7">(e-)</span></label>
                <div class="level">
                    <div class="level-left">
                        <div class="left-item">
                            <div class="field has-addons">
                                <div class="control">
                                    <input type="text" class="input is-small" [value]="readNoise" (input)="onChangeReadNoise($event.target.value)" />
                                </div>
                                <div class="control">
                                    <a class="tag is-link" [routerLink]="['/help', 'camera-read-noise']">Help</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <label>Dark&nbsp;current&nbsp;<span class="is-size-7">(e-/s)</span></label>
                <div class="level">
                    <div class="level-left">
                        <div class="left-item">
                            <div class="field has-addons">
                                <div class="control">
                                    <input type="text" class="input is-small" [value]="darkCurrent" (input)="onChangeDarkCurrent($event.target.value)" />
                                </div>
                                <div class="control">
                                    <a class="tag is-link" [routerLink]="['/help', 'camera-dark-current']">Help</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <label>Quantum&nbsp;efficiency&nbsp;<span class="is-size-7">(%)</span></label>
                <div class="level">
                    <div class="level-left">
                        <div class="left-item">
                            <div class="field has-addons">
                                <div class="control">
                                    <input type="text" class="input is-small" [value]="quantumEfficiency" (input)="onChangeQuantumEfficiency($event.target.value)" />
                                </div>
                                <div class="control">
                                    <a class="tag is-link" [routerLink]="['/help', 'camera-quantum-efficiency']">Help</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="level is-mobile">
            <div class="level-left">
                <div class="level-item">
                    <button class="button is-small is-rounded is-light is-uppercase" (click)="onSave()">save all</button>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <button class="button is-small is-rounded is-light is-uppercase" (click)="onDelete()">delete camera</button>
                </div>
            </div>
        </div>
    </div>
</div>
