<div class="columns">
    <div class="column">
        <h1 class="subtitle is-5">Surface Brightness Calculator</h1>

        <div class="field">
            <label class="label">Magnitude</label>
            <input (input)="onChangeMagnitude($event.target.value)" type="text" class="input is-small" />
        </div>

        <div class="field">
            <label class="label">Major axis <span class="is-size-7">(arcmin)</span></label>
            <input (input)="onChangeMajorAxis($event.target.value)" type="text" class="input is-small" />
        </div>

        <div class="field">
            <label class="label">Minor axis <span class="is-size-7">(arcmin)</span></label>
            <input (input)="onChangeMinorAxis($event.target.value)" type="text" class="input is-small" />
        </div>

        <div class="box has-background-info" *ngIf="surfaceBrightness">
            <h2 class="subtitle is-6 has-text-white">Surface Brightness <span class="is-size-7">(mag/arcsec<sup>2</sup>)</span></h2>
            <div class="field">
                <input [value]="surfaceBrightness" type="text" class="input is-small" readonly />
            </div>
        </div>
    </div>
</div>
