<form [formGroup]="telescopeForm" (ngSubmit)="onSubmit()">
    <app-input-text [control]="telescopeForm.get('name')">
        Name
    </app-input-text>
    <app-input-number [control]="telescopeForm.get('aperture')" min="1" step="1">
        Aperture <span class="is-size-7">(mm)</span>
    </app-input-number>
    <app-input-number [control]="telescopeForm.get('focalLength')" min="1" step="1">
        Focal length <span class="is-size-7">(mm)</span>
    </app-input-number>
    <app-input-number [control]="telescopeForm.get('centralObstruction')" min="0" step="1">
        Central obstruction <span class="is-size-7">(mm)</span>
    </app-input-number>
    <app-input-number [control]="telescopeForm.get('totalReflectanceTransmittance')" min="0" max="1" step="0.01">
        Total reflectance/transmittance <span class="is-size-7">(1=ideal, 0=opaque)</span>
    </app-input-number>
    <div class="help is-danger field" *ngIf="telescopeForm.errors && telescopeForm.errors.apertureCheck">
        Aperture must be greater than Central Obstruction
    </div>
    <div class="buttons">
        <button type="submit" class="button is-rounded is-light is-uppercase" [disabled]="telescopeForm.invalid">submit</button>
        <button type="button" class="button is-rounded is-light is-uppercase" (click)="onCancel()">cancel</button>
    </div>
</form>
<!-- 
<hr />
<div>Form is valid: {{ telescopeForm.valid }}</div>
<div>Form values: {{ telescopeForm.value | json }}</div>
<div>Form errors: {{ telescopeForm.errors | json }}</div>
<div>Errors around name: {{ telescopeForm.controls.name.errors | json }}</div>
<div>Errors around aperture: {{ telescopeForm.controls.aperture.errors | json }}</div>
-->
