<div class="section">
    <div class="container">
        <h1 class="title is-5">USA COVID-19 TIME-SERIES</h1>
        <div class="content">
            <p>
                I've just been alerted to the existence of the following site which shows similar
                charts for the U.S. and more.
            </p>
            <p>
                <a href="http://www.worldometers.info/coronavirus/country/us/" target="_blank" rel="noopener noreferrer">worldometers.info</a>
            </p>
            <p>
                Today is the last day that my site's COVID-19 data is updated.
                Here it is:
            </p>
            <p>
                <img src="/assets/LATEST_USA_COVID-19_Cases_Deaths_Recovered.jpg" />
            </p>
        </div>
    </div>
</div>