<section class="section" *ngIf="target.id >= 0">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths">
                <h1 class="title is-5">{{ pageTitle }}</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <label class="label">Name</label>
                <div id="name">{{ target.name }}</div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <label class="label">Surface brightness <span class="is-size-7">(mag/arcsec<sup>2</sup>)</span></label>
                <div id="surface-brightness">{{ target.surfaceBrightness }}</div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <label class="label">Right Ascension</label>
                <u235-astro-right-ascension [hours]="rightAscension"></u235-astro-right-ascension>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <label class="label">Declination</label>
                <u235-astro-declination [degrees]="declination"></u235-astro-declination>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <div class="has-text-danger">
                    Are you sure you want to delete this target?
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <div class="buttons">
                    <button id="submit" type="button" class="button is-rounded is-light is-danger" (click)="onSubmit()">Yes, delete it</button>
                    <button id="cancel" type="button" class="button is-rounded is-light" (click)="onCancel()">No, cancel</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div *ngIf="target.id < 0">
    <h1 class="title">{{ notFound }}</h1>
</div>
