<section class="section">
    <div class="container">
        <h1 class="title is-5">Your Targets</h1>
        <div class="columns">
            <div class="column is-three-fifths">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <button class="button is-small is-rounded is-light is-uppercase" (click)="onNewTarget()">new target</button>
                        </div>
                        <div class="level-item">
                            <button class="button is-small is-rounded is-light is-uppercase" (click)="onSaveAll()">save all</button>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <button class="button is-small is-rounded is-light is-uppercase" (click)="onDiscardChanges()">discard changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns" *ngFor="let profile of userTargetProfiles">
            <div class="box column is-three-fifths">
                <app-target-item [id]="profile.id" [name]="profile.name" [surfaceBrightness]="profile.surfaceBrightness" (notifySaveTarget)="onSaveTarget($event)" (notifyDeleteTarget)="onDeleteTarget($event)" (notifyUpdateTarget)="onUpdateTarget($event)"></app-target-item>
            </div>
        </div>
    </div>
</section>
