<div class="section">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title is-5">{{ pageTitle }}</h1>
                </div>
                <div class="level-item">
                    <div class="control">
                        <a class="tag is-link" (click)="onHelp('assistant')">Help</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Universal Time</label>
                    <div class="control">
                        <span class="is-size-5" [appHighlight]="{watch: utcString}">{{ utcString }}</span>
                    </div>
                </div>
                <button class="button is-success is-outlined" (click)="onNewAssistant()">New Assistant</button>
            </div>
        </div>
        <div class="column">
            <div class="columns is-multiline">
                <div class="column" *ngFor="let id of assistants">
                    <app-assistant-panel [id]="id" [notifyUTC]="utcSubject.asObservable()" (notifyRemove)="onRemoveAssistant($event)"></app-assistant-panel>
                </div>
            </div>
        </div>
    </div>
</div>
