<div class="section">
    <div class="container">
        <h1 class="title is-5">Post-Capture Analyzer</h1>
        <app-profile-picker
            (notifyChangeTarget)="onChangeTarget($event)"
            (notifyChangeTelescope)="onChangeTelescope($event)"
            (notifyChangeCamera)="onChangeCamera($event)"
            (notifyChangeObservatory)="onChangeObservatory($event)">
        </app-profile-picker>
        <div *ngIf="haveTarget() && haveTelescope() && haveCamera() && haveObservatory()">
            <div class="columns is-desktop">
                <div class="column">
                    <app-channel
                        name="Red"
                        filter="R"
                        [exposure]="85.8"
                        [binning]="2"
                        [redBalance]="redBalance"
                        [greenBalance]="greenBalance"
                        [blueBalance]="blueBalance"
                        [target]="target"
                        [targetEvents]="targetSubject.asObservable()"
                        [telescope]="telescope"
                        [telescopeEvents]="telescopeSubject.asObservable()"
                        [camera]="camera"
                        [cameraEvents]="cameraSubject.asObservable()"
                        [observatory]="observatory"
                        [observatoryEvents]="observatorySubject.asObservable()"
                        [colorBalanceEvents]="colorBalanceSubject.asObservable()"
                        (notifyColorBalance)="onColorBalance($event)">
                    </app-channel>
                </div>
                <div class="column">
                    <app-channel
                        name="Green"
                        filter="G"
                        [exposure]="50.2"
                        [binning]="2"
                        [redBalance]="redBalance"
                        [greenBalance]="greenBalance"
                        [blueBalance]="blueBalance"
                        [target]="target"
                        [targetEvents]="targetSubject.asObservable()"
                        [telescope]="telescope"
                        [telescopeEvents]="telescopeSubject.asObservable()"
                        [camera]="camera"
                        [cameraEvents]="cameraSubject.asObservable()"
                        [observatory]="observatory"
                        [observatoryEvents]="observatorySubject.asObservable()"
                        [colorBalanceEvents]="colorBalanceSubject.asObservable()"
                        (notifyColorBalance)="onColorBalance($event)">
                    </app-channel>
                </div>
                <div class="column">
                    <app-channel
                        name="Blue"
                        filter="B"
                        [exposure]="77.8"
                        [binning]="2"
                        [redBalance]="redBalance"
                        [greenBalance]="greenBalance"
                        [blueBalance]="blueBalance"
                        [target]="target"
                        [targetEvents]="targetSubject.asObservable()"
                        [telescope]="telescope"
                        [telescopeEvents]="telescopeSubject.asObservable()"
                        [camera]="camera"
                        [cameraEvents]="cameraSubject.asObservable()"
                        [observatory]="observatory"
                        [observatoryEvents]="observatorySubject.asObservable()"
                        [colorBalanceEvents]="colorBalanceSubject.asObservable()"
                        (notifyColorBalance)="onColorBalance($event)">
                    </app-channel>
                </div>
                <div class="column">
                    <app-channel
                        name="Luminance"
                        filter="L"
                        [exposure]="90"
                        [binning]="1"
                        [redBalance]="redBalance"
                        [greenBalance]="greenBalance"
                        [blueBalance]="blueBalance"
                        [target]="target"
                        [targetEvents]="targetSubject.asObservable()"
                        [telescope]="telescope"
                        [telescopeEvents]="telescopeSubject.asObservable()"
                        [camera]="camera"
                        [cameraEvents]="cameraSubject.asObservable()"
                        [observatory]="observatory"
                        [observatoryEvents]="observatorySubject.asObservable()"
                        [colorBalanceEvents]="colorBalanceSubject.asObservable()"
                        (notifyColorBalance)="onColorBalance($event)">
                    </app-channel>
                </div>
            </div>
        </div>
    </div>
</div>
