<section class="section" *ngIf="observatory.id >= 0">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths">
                <h1 class="title is-5">{{ pageTitle }}</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <app-observatory-form
                    [name]="observatory.name"
                    [bortleClass]="observatory.bortleClass"
                    [skyBrightness]="observatory.skyBrightness"
                    [latitude]="observatory.latitude"
                    [longitude]="observatory.longitude"
                    (notifySubmit)="onSubmit($event)"
                    (notifyCancel)="onCancel()">
                </app-observatory-form>
            </div>
        </div>
    </div>
</section>
<div *ngIf="observatory.id < 0">
    <h1 class="title">{{ observatoryNotFound }}</h1>
</div>
