<section class="section" *ngIf="camera.id >= 0">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths">
                <h1 class="title is-5">{{ pageTitle }}</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <app-camera-form
                    [name]="camera.name"
                    [pixelSize]="camera.pixelSize"
                    [readNoise]="camera.readNoise"
                    [darkCurrent]="camera.darkCurrent"
                    [quantumEfficiency]="camera.quantumEfficiency"
                    (notifySubmit)="onSubmit($event)"
                    (notifyCancel)="onCancel()">
                </app-camera-form>
            </div>
        </div>
    </div>
</section>
<div *ngIf="camera.id < 0">
    <h1 class="title">{{ cameraNotFound }}</h1>
</div>
