<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>U235+SNR</strong> by <a href="https://github.com/oopfan" target="blank">Brian Morgan</a>.
            The source code is licensed <a href="http://opensource.org/licenses/mit-license.php" target="blank">MIT</a>
            as a public <a href="https://github.com/oopfan/u235-snr" target="blank">repository</a> at GitHub.
        </p>
    </div>
</footer>
