<div class="container">
    <h1 class="title is-4">Your Target Profiles</h1>
    <div class="columns">
        <div class="column">
            <button class="button is-small" (click)="onNewTarget()">NEW TARGET</button>
        </div>
    </div>
    <div class="columns" *ngFor="let profile of userTargetProfiles">
        <div class="box column is-three-fifths">
            <app-tpedit [id]="profile.id" [name]="profile.name" [surfaceBrightness]="profile.surfaceBrightness" (notifyDeleteTarget)="onDeleteTarget($event)"></app-tpedit>
        </div>
    </div>
</div>
