<section class="section">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title is-5">Calculate</h1>
                </div>
                <div class="level-item">
                    <div class="control">
                        <a class="tag is-link" [routerLink]="['/help', 'calculate']">Help</a>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="title is-6">Select a target, telescope, camera, and observatory</h1>
        <div class="columns is-desktop">
            <div class="column">
                <app-target-picker [strict]="false" (notifyChange)="onChangeTarget($event)"></app-target-picker>
            </div>
            <div class="column">
                <app-telescope-picker [strict]="false" (notifyChange)="onChangeTelescope($event)"></app-telescope-picker>
            </div>
            <div class="column">
                <app-camera-picker [strict]="false" (notifyChange)="onChangeCamera($event)"></app-camera-picker>
            </div>
            <div class="column">
                <app-observatory-picker [strict]="false" (notifyChange)="onChangeObservatory($event)"></app-observatory-picker>
            </div>
        </div>
        <div *ngIf="prerequisiteMet">
            <h1 class="title is-6">Choose a calculation</h1>
            <div class="columns">
                <div class="column">
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="calcwhat" value="calcsnr" (change)="onChangeCalculator($event.target.value)" >
                            Calculate total signal-to-noise of stack given the total integration time and single sub exposure.
                        </label>
                    </div>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="calcwhat" value="calcfc" (change)="onChangeCalculator($event.target.value)" >
                            Calculate total integration time given the total signal-to-noise of stack and single sub exposure.
                        </label>
                    </div>
                </div>
            </div>
            <div *ngIf="calcChoice == 'calcsnr'">
                <app-calculator-snr
                    [target]="selectedTarget"
                    [targetEvents]="targetSubject.asObservable()"
                    [telescope]="selectedTelescope"
                    [telescopeEvents]="telescopeSubject.asObservable()"
                    [camera]="selectedCamera"
                    [cameraEvents]="cameraSubject.asObservable()"
                    [observatory]="selectedObservatory"
                    [observatoryEvents]="observatorySubject.asObservable()">
                </app-calculator-snr>
            </div>
            <div *ngIf="calcChoice == 'calcfc'">
                <app-calculator-fc
                    [target]="selectedTarget"
                    [targetEvents]="targetSubject.asObservable()"
                    [telescope]="selectedTelescope"
                    [telescopeEvents]="telescopeSubject.asObservable()"
                    [camera]="selectedCamera"
                    [cameraEvents]="cameraSubject.asObservable()"
                    [observatory]="selectedObservatory"
                    [observatoryEvents]="observatorySubject.asObservable()">
                </app-calculator-fc>
            </div>
        </div>
    </div>
</section>
