<h1 class="title is-6">Please input</h1>
<div class="columns">
    <div class="column">
        <div class="control">
            <label>Total&nbsp;signal-to-noise&nbsp;of&nbsp;stack&nbsp;</label>
            <input type="number" min="1" max="100" step="1" [value]="signalToNoiseRatio" (change)="onChangeSignalToNoiseRatio($event.target.value)" />
        </div>
        <div class="control">
            <label>Single&nbsp;sub&nbsp;exposure&nbsp;<span class="is-size-7">(seconds)&nbsp;</span></label>
            <input type="number" min="1" max="1800" step="1" [value]="singleSubExposure" (change)="onChangeSingleSubExposure($event.target.value)" />
        </div>
    </div>
</div>
<h1 class="title is-6">The answer is</h1>
<div class="columns">
    <div class="column">
        <div class="control">
            <label>Total&nbsp;integration&nbsp;time&nbsp;<span class="is-size-7">(hours)&nbsp;</span></label>
            {{ totalIntegrationTime | number: '1.1-2' }}
        </div>
        <div class="control">
            <label>Number&nbsp;of&nbsp;subs&nbsp;</label>
            {{ frameCount | number: '1.0-0' }}
        </div>
    </div>
</div>
<div class="columns">
    <div class="column is-three-fifths">
        <div class="chart-wrapper">
            <canvas baseChart 
                [datasets]="lineChartData" 
                [options]="lineChartOptions"
                [colors]="lineChartColors" 
                [legend]="lineChartLegend" 
                [chartType]="lineChartType" 
                [plugins]="lineChartPlugins">
            </canvas>
        </div>
    </div>
</div>
