<section class="section">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title is-5">Observatories</h1>
                </div>
                <div class="level-item">
                    <div class="control">
                        <a class="tag is-link" (click)="onHelp('observatory-overview')">Help</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-three-fifths">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <button class="button is-small is-rounded is-light is-uppercase" (click)="onNew()">new observatory</button>
                        </div>
                        <div class="level-item">
                            <button class="button is-small is-rounded is-light is-uppercase" (click)="onSaveAll()">save all</button>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <button class="button is-small is-rounded is-light is-uppercase" (click)="onDiscard()">discard changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns" *ngFor="let observatory of observatories">
            <div class="box column is-three-fifths">
                <app-observatory-item
                    [id]="observatory.id"
                    [name]="observatory.name"
                    [bortleClass]="observatory.bortleClass"
                    [skyBrightness]="observatory.skyBrightness"
                    (notifyHelp)="onHelp($event)"
                    (notifySave)="onSave($event)"
                    (notifyDelete)="onDelete($event)"
                    (notifyUpdate)="onUpdate($event)">
                </app-observatory-item>
            </div>
        </div>
    </div>
</section>
