<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" routerLink="/">
                U235+SNR
            </a>
            <div class="navbar-burger burger" (click)="onClickBurger()" [ngClass]="{'is-active': toggleBurger}">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </div>
        </div>
        <div class="navbar-menu" [ngClass]="{'is-active': toggleBurger}">
            <div class="navbar-start">
                <a class="navbar-item" routerLink="/targets">
                    Targets
                </a>
                <a class="navbar-item" routerLink="/telescopes">
                    Telescopes
                </a>
                <a class="navbar-item" routerLink="/cameras">
                    Cameras
                </a>
                <a class="navbar-item" routerLink="/observatories">
                    Observatories
                </a>
            </div>
        </div>
    </div>
</nav>
