<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" routerLink="/home" routerLinkActive="is-active">
                U235+SNR
            </a>
            <div class="navbar-burger burger" (click)="onClickBurger()" [ngClass]="{'is-active': toggleBurger}">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </div>
        </div>
        <div class="navbar-menu" [ngClass]="{'is-active': toggleBurger}">
            <div class="navbar-start">
                <a class="navbar-item" routerLink="/targets" routerLinkActive="is-active">
                    <span class="is-size-7">Targets</span>
                </a>
                <a class="navbar-item" routerLink="/telescopes" routerLinkActive="is-active">
                    <span class="is-size-7">Telescopes</span>
                </a>
                <a class="navbar-item" routerLink="/cameras" routerLinkActive="is-active">
                    <span class="is-size-7">Cameras</span>
                </a>
                <a class="navbar-item" routerLink="/observatories" routerLinkActive="is-active">
                    <span class="is-size-7">Observatories</span>
                </a>
                <a class="navbar-item" routerLink="/calculators" routerLinkActive="is-active">
                    <span class="is-size-7">Calculate!</span>
                </a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" routerLink="/analyzer" routerLinkActive="is-active">
                    <span class="is-size-7">Analyzer</span>
                </a>
                <a class="navbar-item" routerLink="/assistant" routerLinkActive="is-active">
                    <span class="is-size-7">Assistant</span>
                </a>
                <a class="navbar-item" routerLink="/covid19" routerLinkActive="is-active">
                    <span class="is-size-7">COVID-19</span>
                </a>
                <a class="navbar-item" routerLink="/help" routerLinkActive="is-active">
                    <span class="is-size-7">Help</span>
                </a>
            </div>
        </div>
    </div>
</nav>
