<form [formGroup]="targetForm" (ngSubmit)="onSubmit()">
    <div class="columns">
        <div class="column">
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <app-input-text [control]="targetForm.get('name')">
                Name
            </app-input-text>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <label class="label">Right Ascension <span class="is-size-7">(J2000)</span></label>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <app-input-number [control]="targetForm.get('rightAscensionHours')" step="1" min="0" max="23">
                <span class="is-size-7">(hours)</span>
            </app-input-number>
        </div>
        <div class="column">
            <app-input-number [control]="targetForm.get('rightAscensionMinutes')" step="1" min="0" max="59">
                <span class="is-size-7">(minutes)</span>
            </app-input-number>
        </div>
        <div class="column">
            <app-input-number [control]="targetForm.get('rightAscensionSeconds')" step="1" min="0" max="59">
                <span class="is-size-7">(seconds)</span>
            </app-input-number>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <label class="label">Declination <span class="is-size-7">(J2000)</span></label>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <app-input-number [control]="targetForm.get('declinationDegrees')" step="1" min="0" max="89">
                <span class="is-size-7">(degrees)</span>
            </app-input-number>
        </div>
        <div class="column">
            <app-input-number [control]="targetForm.get('declinationMinutes')" step="1" min="0" max="59">
                <span class="is-size-7">(minutes)</span>
            </app-input-number>
        </div>
        <div class="column">
            <app-input-number [control]="targetForm.get('declinationSeconds')" step="1" min="0" max="59">
                <span class="is-size-7">(seconds)</span>
            </app-input-number>
        </div>
        <div class="column">
            <label class="label"><span class="is-size-7">(north/south)</span></label>
            <select [formControl]="targetForm.get('declinationPM')" class="input">
                <option value="1">North</option>
                <option value="-1">South</option>
            </select>
        </div>
    </div>
    <div class="columns">
        <div class="column">
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <app-input-number [control]="targetForm.get('surfaceBrightness')" step="0.01">
                Surface brightness <span class="is-size-7">(mag/arcsec<sup>2</sup>)</span>
            </app-input-number>
        </div>
    </div>
    <div class="columns">
        <div class="column is-two-thirds is-offset-one-fifth">
            <app-surface-brightness-calculator></app-surface-brightness-calculator>
        </div>
    </div>
    <div class="buttons">
        <button type="submit" class="button is-rounded is-light is-uppercase" [disabled]="targetForm.invalid">submit</button>
        <button type="button" class="button is-rounded is-light is-uppercase" (click)="onCancel()">cancel</button>
    </div>
</form>
<!-- 
<hr />
<div>Form is valid: {{ targetForm.valid }}</div>
<div>Form values: {{ targetForm.value | json }}</div>
<div>Form errors: {{ targetForm.errors | json }}</div>
<div>Errors around name: {{ targetForm.controls.name.errors | json }}</div>
-->
