<div class="columns">
    <div class="column">
        <label>Name</label>
        <input type="text" class="input is-small" [value]="name" (input)="onChangeName($event.target.value)" required />
    </div>
</div>
<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
        <div class="columns">
            <div class="column">
                <label>Surface&nbsp;Brightness&nbsp;<span class="is-size-7">(mag/arcsec<sup>2</sup>)</span></label>
                <input type="text" class="input is-small" [value]="surfaceBrightness" (input)="onChangeSurfaceBrightness($event.target.value)" required />
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <button class="button is-small is-success is-light is-rounded" (click)="onCalculatorButtonClick()">{{ calculatorButtonText }}</button>
            </div>
        </div>
        <div class="columns" *ngIf="calculatorButtonState">
            <div class="column">
                <!--<app-sbcalc></app-sbcalc>-->
                <app-surface-brightness-calculator></app-surface-brightness-calculator>
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <button class="button is-small is-danger is-light is-rounded" (click)="onDeleteButtonClick()">DELETE TARGET</button>
    </div>
</div>
