<div class="columns is-desktop">
    <div class="column">
        <app-target-picker (notifyChange)="onChangeTarget($event)"></app-target-picker>
    </div>
    <div class="column">
        <app-telescope-picker (notifyChange)="onChangeTelescope($event)"></app-telescope-picker>
    </div>
    <div class="column">
        <app-camera-picker (notifyChange)="onChangeCamera($event)"></app-camera-picker>
    </div>
    <div class="column">
        <app-observatory-picker (notifyChange)="onChangeObservatory($event)"></app-observatory-picker>
    </div>
</div>
